body{
    font-family:Verdana, Geneva, sans-serif;
}
.c-news {
    width: 85%;
    margin: auto;
}
.c-news__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    table-layout:fixed;
    width: 100%;
    text-align: center;
}
.c-news__col--1{
    width:5%;
}
.c-news__col--2{
    width:5%;
}
.c-news__col--3{
    width:10%;
}
.c-news__col--4{
    width:60%;
}
.c-news__col--5{
    width:10%;
}
.c-news__header{
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    background-color: #ff6600;
}
tr:nth-child(odd){
    background-color: rgb(246, 246, 239);
}
.c-news__feed{
    width:100%;
}
a{
    text-decoration: none;
    font-size: 0.65rem;
    color:#7a7979;
}
.c-news__feed--comments{
    font-size: 0.8rem;
    color: black;
    font-weight: 500;
}
.c-news__details--votes{
    font-size: 0.8rem;
    color: black;
    font-weight: 500;
}
.c-news__details--upvote {
    color: grey;
    font-size: 0.6rem;
}
.c-news__details{
    text-align: left;
}
.c-news__details--title a span{
    font-size: 0.8rem;
    color: black;
}
.c-news__details--time {
    font-size: 0.65rem;
    color: #7a7979;
} 
hr{
    border: 2px solid #ff6600;
}
.c-news__pagination {
    width: 100%;
    height: 2.5em;
}
.c-news__pagination-btn{
    height: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.c-news__pagination-btn--prev {
    font-size: 0.8rem;
    color: #ff6600;
    font-weight: bold;
    padding: 0.4rem;
    line-height: 0.3rem;
    text-decoration: none;
    border-right: 3.5px solid;
}
.c-news__pagination-btn--next {
    font-size: 0.8rem;
    color: #ff6600;
    font-weight: bold;
    margin-left: 0.5em;
    text-decoration: none;
}
